n8n/workflows/20_ref_sync_drive.json
{
  "name": "REF — Sync Drive + Ingestão (diário)",
  "id": "refSyncDrive20",
  "meta": {},
  "pinData": {},
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 7 * * *" } ] } },
      "id": "trigger-0700",
      "name": "Agendado 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ia:8500/run/sync",
        "options": { "timeout": 300000 }
      },
      "id": "http-sync",
      "name": "Baixar do Google Drive (/run/sync)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 480, 300 ],
      "notes": "Service account (read-only) baixa as 5 planilhas DRE do Shared Drive para data/incoming. Resposta: {ok, stdout, stderr}."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            { "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      },
      "id": "if-sync-ok",
      "name": "Download ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 760, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ia:8500/run/ingestao",
        "options": { "timeout": 300000 }
      },
      "id": "http-ingestao",
      "name": "Rodar Ingestão (/run/ingestao)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1020, 240 ],
      "notes": "Carrega as planilhas recém-baixadas no PostgreSQL (um parser por empresa)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            { "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      },
      "id": "if-ingest-ok",
      "name": "Ingestão ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1280, 240 ]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "a1", "name": "status", "value": "sucesso", "type": "string" },
          { "id": "a2", "name": "mensagem", "value": "=Drive sincronizado e ingestão concluída.\n{{ $json.stdout }}", "type": "string" }
        ] }
      },
      "id": "notify-ok",
      "name": "→ Notificar sucesso (e-mail/Telegram)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1540, 160 ],
      "notes": "Conectar um nó Email Send ou Telegram aqui (credenciais do cliente)."
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "b1", "name": "status", "value": "erro_ingestao", "type": "string" },
          { "id": "b2", "name": "mensagem", "value": "=FALHA na ingestão (após download ok).\n{{ $json.stderr || $json.stdout }}", "type": "string" }
        ] }
      },
      "id": "notify-err-ingest",
      "name": "→ Alertar erro de ingestão",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1540, 320 ],
      "notes": "Conectar um nó Email Send ou Telegram aqui (credenciais do cliente)."
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "c1", "name": "status", "value": "erro_download", "type": "string" },
          { "id": "c2", "name": "mensagem", "value": "=FALHA ao baixar do Google Drive (verifique a service account / compartilhamento).\n{{ $json.stderr || $json.stdout }}", "type": "string" }
        ] }
      },
      "id": "notify-err-sync",
      "name": "→ Alertar erro de download",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1020, 440 ],
      "notes": "Conectar um nó Email Send ou Telegram aqui (credenciais do cliente)."
    }
  ],
  "connections": {
    "Agendado 07:00": { "main": [ [ { "node": "Baixar do Google Drive (/run/sync)", "type": "main", "index": 0 } ] ] },
    "Baixar do Google Drive (/run/sync)": { "main": [ [ { "node": "Download ok?", "type": "main", "index": 0 } ] ] },
    "Download ok?": { "main": [
      [ { "node": "Rodar Ingestão (/run/ingestao)", "type": "main", "index": 0 } ],
      [ { "node": "→ Alertar erro de download", "type": "main", "index": 0 } ]
    ] },
    "Rodar Ingestão (/run/ingestao)": { "main": [ [ { "node": "Ingestão ok?", "type": "main", "index": 0 } ] ] },
    "Ingestão ok?": { "main": [
      [ { "node": "→ Notificar sucesso (e-mail/Telegram)", "type": "main", "index": 0 } ],
      [ { "node": "→ Alertar erro de ingestão", "type": "main", "index": 0 } ]
    ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [ { "name": "cockpit-ref" } ]
}
